.body
{
    background-color: rgb(0, 4, 24);
}
.nav-bar
{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgb(42, 46, 62);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#icon
{
    font-size: 40px;
    color: white;
    font-style: normal;
    user-select: none;
}
.logo
{
    margin: 0px 324px;
}
.index-div
{
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px;
}
.index-div section
{
    background-color: rgb(42, 46, 62);
    border: 2px solid rgb(67, 74, 93);
    border-radius: 12px;
    width: 40%;
}
.index-div section header
{
    text-align: center;
    padding: 10% 0 0 0;
}
.index-div section header button
{
    width: 70%;
    font-size: 40px;
    background-color: rgb(52, 54, 63);
    color: rgb(0, 136, 209);
    border: 2px solid rgb(67, 74, 93);
    border-radius: 5px;
    padding: 12px 12px;
    font-weight: bold;
    font-family: sans-serif;
    user-select: none;
}
.index-div section p
{
    text-align: center;
    width: 60%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    user-select: none;
    padding: 5% 20%;
}
.slide-bar
{
    position: absolute;
    background-color: rgb(42, 46, 62);
    width: 40%;
    left: 59.9%;
    top: 15%;
    border-bottom: 2px solid rgb(67, 74, 93);
    border-left: 2px solid rgb(67, 74, 93);
    user-select: none;
    opacity: 0;  
}
.slide-bar header
{
    border-top: 1px solid rgb(67, 74, 93);
    padding: 20px;
}
.slide-bar a
{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    pointer-events: none;
}
@media(max-width: 480px)
{
    .logo
    {
        margin: 0px 90px;
    }
    #icon
    {
        font-size: 30px;
    }
    .index-div
    {
        display: grid;
        padding: 0px;
    }
    .index-div section 
    {
        width: 95%;
        margin: 0px 10px 20px;
    }
    .index-div section header button
    {
        font-size: 30px;
    }
    .index-div section p 
    {
        font-size: 20px;
    }
    .slide-bar
    {
        width: 70%;
        left: 29.6%;
    }
    .slide-bar a
    {
        font-size: 20px;
    }
}
